.main__aside {
  border-radius: 12px 0px 0px 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: #006790;
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 150px;
  padding: 30px;
  box-sizing: border-box;
}
.aside__block {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.aside__btn {
  border-radius: 12px;
  background: #ffd200;
  padding: 21px 25px;
  border: none;
}
.aside__text {
  color: #fff;
  text-align: center;
  font-family: Nunito;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.aside__photo {
  width: 12px;
  height: 13px;
}
